<!DOCTYPE html>
<html>
  <head>
    <title>Options Algo Trading Bot</title>
   <link rel="stylesheet" href="style.css">
  </head>
  <body>





      <div id="app" class="body"  style="display:none">
        <div :class="loader===true?'blur':''"  id="backtest">

            <div id="header">
                <div class="logo"><img src="https://paisashare.in/images/logo.png" alt=""> </div>
                <div class="nav">
                    <a class="dark-empty" href="./creds.html" >Credentials</a>
                </div>
            </div> 
            <h1>Trade Terminal</h1>
            <br/>
            <p v-if="data.live">Connected to server</p> 
            <p v-if="!data.live">Disconnected from server</p> 
            <br/>
            <br/>
            <h2>Brokers</h2>
            
            <p v-if="data.kiteLogin">Kite Logged in</p> 
            <button v-if="!data.kiteLogin" id="kite" v-on:click="redirectToKiteLogin">Kite Login</button>
            <p v-if="data.fpLogin">5paisa Logged in</p>
            <p v-if="!data.fpLogin">5paisa not Logged in</p>
            <p v-if="data.fvLogin">Finvasia Logged in</p>
            <p v-if="!data.fvLogin">Finvasia not Logged in</p>
            <p v-if="data.angelLogin">Angel Logged in</p>
            <p v-if="!data.angelLogin">Angel not Logged in</p>

            <div v-if="strategies.length>0">
                <br/>
                <br/>
                <h2>Strategies</h2>
                <br/>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Strategy name</th>
                                <th>Broker</th>
                                <th>Live</th>
                                <th>Hedge</th>
                                <th>Qty</th>
                                <th>Actions</th>
                                <th>Sync Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(strategy,index) of strategies" :key="index">
                                <td>
                                    {{strategy.strategyId}}
                                </td>
                                <td>
                                    {{strategy.brokerName}}
                                </td>
                                <td>
                                  <span v-if="strategy.ORDER">
                                    <button class="on" v-on:click="changeSettings('ORDER',strategy.strategyId,strategy.brokerName,index,false)">On</button>
                                  </span>

                                  <span v-if="!strategy.ORDER">
                                    <button v-on:click="changeSettings('ORDER',strategy.strategyId,strategy.brokerName,index,true)">Off</button>
                                  </span>
                                </td>
                                <td>

                                    <span v-if="strategy.HEDGE">
                                      <button  class="on" v-on:click="changeSettings('HEDGE',strategy.strategyId,strategy.brokerName,index,false)">On</button>
                                    </span>

                                    <span v-if="!strategy.HEDGE">
                                      <button v-on:click="changeSettings('HEDGE',strategy.strategyId,strategy.brokerName,index,true)">Off</button>
                                    </span>
                                </td>
                                <td>
                                   <input type="number" :value="strategy.QTY" v-on:change="changeSettings('QTY',strategy.strategyId,strategy.brokerName,index,$event.target.value)"  v-on:keyup="changeSettings('QTY',strategy.strategyId,strategy.brokerName,index,$event.target.value)"> 
                                </td>
                                <td>

                                    <span v-if="strategy.ORDER">
                                        
                                        <button  class="enter" :disabled="strategy.isNotSynced"  v-on:click="enter(strategy.strategyId,strategy.brokerName)">Enter</button>
                                        <button  class="exit"  :disabled="strategy.isNotSynced" v-on:click="exit(strategy.strategyId,strategy.brokerName)">Exit</button>
                                        
                                    </span>

                                </td>
                                <td>

                                    <span v-if="strategy.ORDER">
                                        <span v-if="!strategy.isNotSynced&&strategy.resyncInTime>=10">Synced</span>
                                        <span v-if="!strategy.isNotSynced&&strategy.resyncInTime>0&&strategy.resyncInTime<10">Sync in {{strategy.resyncInTime}}s</span>
                                        <span v-if="strategy.isNotSynced">Syncing...</span>
                                        
                                    </span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div v-if="orders.length>0">
                <br/>
                <br/>
                <h2>Orders</h2>
                <br/>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Strategy</th>
                                <th>Script</th>
                                <th>Leg</th>
                                <th>Time</th>
                                <th>Txn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(order,index) of orders" :key="index">
                                <td>
                                    {{order.strategyId}}
                                </td>
                                <td>
                                    {{order.script}}
                                </td>
                                <td>
                                    {{order.strike}} {{order.optionType}} {{order.expiry}}
                                </td>
                                <td>
                                    {{order.time}}
                                </td>
                                <td>
                                    {{order.type}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div v-if="fpResponses.length>0">
                <br/>
                <br/>
                <h2>5Paisa Orders</h2>
                <br/>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Strategy</th>
                                <th>Script Code</th>
                                <th>Message</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(order,index) of fpResponses" :key="index">
                                <td>
                                    {{order.strategyId}}
                                </td>
                                <td>
                                    {{order.ScripCode}}
                                </td>
                                <td>
                                    {{order.Message}}
                                </td>
                                <td>
                                    {{order.time}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div v-if="kiteResponses.length>0">
                <br/>
                <br/>
                <h2>Kite Orders</h2>
                <br/>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Strategy</th>
                                <th>OrderId</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(order,index) of kiteResponses" :key="index">
                                <td>
                                    {{order.strategyId}}
                                </td>
                                <td>
                                    {{order.orderId}}
                                </td>
                                <td>
                                    {{order.time}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                
            </div>

            <div v-if="fvResponses.length>0">
              <br/>
              <br/>
              <h2>Finvasia Orders</h2>
              <br/>
              <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Strategy</th>
                            <th>OrderId</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(order,index) of fvResponses" :key="index">
                            <td>
                                {{order.strategyId}}
                            </td>
                            <td>
                                {{order.norenordno}}
                            </td>
                            <td>
                                {{order.time}}
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>


            <div v-if="angelResponses.length>0">
                <br/>
                <br/>
                <h2>Angel Orders</h2>
                <br/>
                <div class="table">
                  <table>
                      <thead>
                          <tr>
                              <th>Strategy</th>
                              <th>OrderId</th>
                              <th>Message</th>
                              <th>Time</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr v-for="(order,index) of angelResponses" :key="index">
                              <td>
                                  {{order.strategyId}}
                              </td>
                              <td>
                                  {{order.orderid}}
                              </td>
                                <td>
                                    {{order.message}}
                                </td>
                              <td>
                                  {{order.time}}
                              </td>
                          </tr>
                      </tbody>
                  </table>
                </div>
              </div>

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

        </div>
        <div v-if="loader" class="loader">
            <div>
                <img src="https://paisashare.in/images/loader.gif" alt="">
            </div>
        </div>
        <div id="footer">
            <div class="footer-elements">
                <p>Trade with Souvik</p>
    
            </div>
            <div class="footer-elements">

                <a href="https://youtube.com/user/Souvik131?sub_confirmation=1" target="_blank"> <p>Subscribe and Learn on Youtube </p> <div><img src="https://paisashare.in/images/youtube.png" alt=""></div> </a>
            </div>
            <div  class="footer-elements">
              <a href="https://t.me/TradeWithSouvikNow" target="_blank">
                 <p>Join on Telegram </p> <div><img src="./images/telegram.png" alt=""></div></a>
  
          </div>

        </div>
    </div>
       


        
  </body>




  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> 
  <script src="https://paisashare.in/niftybot/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
  <script defer src="./script.js"> </script>
</html>